:root {
  --accent-color: #4D9FC4;
  --background-color-1: #ECF4F6;
  --background-color-2: #D1DFE9;

  --font-color-1: #092147;
  --font-color-2: #8F9397;

  --selected-color-1: #BACED9;
  --selected-color-2: #BACED980;
  --selected-color-3: #b0c3cd;
}
