:root {
  --accent-color-1: #4D9FC4;
  --accent-color-2: #4086a7;

  --background-color-1: #ECF4F6;
  --background-color-2: #D1DFE9;
  --background-color-3: #EDEEEF;

  --font-color-1: #092147;
  --font-color-2: #8F9397;
  --font-color-3: #C7C9CB;

  --selected-color-1: #BACED9;
  --selected-color-2: #BACED980;
  --selected-color-3: #B0C3CD;
  --selected-color-4: #DFE8EA;

  --image-fallback-color: #dedcdc;
}
