:root {
  --top-padding: 64px;
  --side-padding: 96px;
  --playlist-side-padding: 288px;

  --playlist-card-image-size: 250px;
  --track-image-size: 40px;

  --player-timeline-height: 16px;
  --player-content-height: 80px;
}
