.container {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
}

.timeline {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--player-timeline-height);

  background-color: #4D9FC466;
}

.timeline span {
  z-index: 1;
  margin: 0 10px;
  font-size: 0.875rem;
}

.timeline_active {
  position: absolute;
  left: 0;

  width: 0%;
  height: 100%;

  background-color: var(--accent-color-1);

  transition: width 0.3s linear;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  height: var(--player-content-height);
  padding: 0 32px;

  background-color: white;
}

.content_left_container {
  display: flex;
  align-items: center;
}

.image_container {
  overflow: hidden;

  width: 40px;
  height: 40px;

  background-color: var(--image-fallback-color);
  border-radius: 4px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 16px;
}

.title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--font-color-2);
}

.like {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 24px;
}

.download {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.content_center_container {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.content_center_container img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.volume_container {
  position: relative;
  z-index: 2;

  justify-self: end;

  width: 24px;
  height: 24px;
}

.volume {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.volume_bar_wrapper {
  position: absolute;
  top: -110px;
  left: -100px;
  transform: rotateZ(270deg);

  padding: 10px 10px 10px 40px;
}

.volume_bar_container {
  display: flex;
  align-items: center;

  height: 32px;
  padding: 6px;

  background-color: white;
  border: 1px solid var(--selected-color-2);
  border-radius: 5px;
}

.volume_bar {
  cursor: pointer;

  width: 160px;
  height: 8px;

  appearance: none;
  background: linear-gradient(90deg, var(--accent-color-1) 50%, var(--selected-color-2) 50%);
  border-radius: 10px;
}

.volume_bar::-webkit-slider-thumb {
  cursor: pointer;

  width: 17px;
  height: 17px;

  appearance: none;
  background-color: white;
  border-radius: 50%;
  outline: 1px solid var(--accent-color-1);
}

.volume_bar::-webkit-slider-thumb:hover {
  outline: 2px solid var(--accent-color-1);
}
