.container {
  display: flex;
  flex-direction: column;
}

.image_container {
  overflow: hidden;

  width: var(--playlist-card-image-size);
  height: var(--playlist-card-image-size);
  margin-bottom: 8px;

  background-color: var(--image-fallback-color);
  border-radius: 14px;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  margin-bottom: 4px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.875rem;
  color: var(--font-color-2);
}
