.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 64px;

  color: white;

  background-color: var(--accent-color-1);
  border-radius: 10px;

  transition: all 0.2s linear;
}

.button:hover {
  background-color: var(--accent-color-2);
}
